#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.group {
  position: relative;
  margin: 1rem auto;
  padding: 1rem;
}

.group::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0 0 0 / 50%);
  border: 1px solid rebeccapurple;
  border-radius: 2px;
  width: 100%;
  height: 100%;
	animation: scale 5000ms cubic-bezier(0.390, 0.575, 0.565, 1.000) normal both;
}
.tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: .5rem;
  margin: 0 auto;
  max-height: 70vh;
  aspect-ratio: 1/1;
}

.start::after, .hidden::after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: var(--cover);
  width: 100%;
  height: 100%;  
}

.start::after {
  animation: fade-in 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 4700ms both;
}

.hidden::after {
  animation: fade-in 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.cards {
  position: relative;
  padding: 0;
  border: 1px solid #464646;
  border-radius: 3px;
  color: rgb(200 200 200 / 0%);
  transition: color 100ms ease-in-out;
  width: 100%;
}

.cards img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.selected_card {
  border: 1px solid lightseagreen;
  color: rgb(200 200 200 / 100%)
}

.correct_card {
  border: 1px solid greenyellow;
  color: rgb(200 200 200 / 100%)

}

@keyframes scale {
  0% {
    transform: scale(100%);
  }
  95% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}